---
import { EXPERIENCE } from "@/data/experience"
import ExperienceItem from "./ExperienceItem.astro"
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li>
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
