---
import { PROJECTS } from "@/data/projects"
import ProjectCard from "./ProjectCard.astro"
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map((project) => (
      <ProjectCard {...project} />
    ))
  }
</div>
